/** element内置黑暗主题 */
// @use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

/** 自定义黑暗主题 */

/* 改变主题色变量 */
$--color-success: #17cabb;
$--color-warning: #c77e6c;
$--color-danger: #f70f13;
$--color-info: #323741;
$--color-text-secondary: #606266;

$--color-primary: #b2bf9c;
$--color-text-primary: #5c789d;
$--background-color-base: #acb1bf;

.el-radio.is-checked .el-radio__inner {
  border-color: $--background-color-base;
  background-color: $--color-primary;
  &:hover{
    border-color: $--color-primary;
  }
}
.el-radio__input.is-checked + .el-radio__label {
  color: $--color-primary;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: $--background-color-base;
  background-color: $--color-primary;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $--color-primary;
}