/** element内置黑暗主题 */
// @use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

/** 自定义黑暗主题 */

/* 改变主题色变量 */
$--color-primary: #67c23a;
$--color-success: #17cabb;
$--color-warning: #c77e6c;
$--color-danger: #f70f13;
$--color-info: #323741;
$--color-text-primary: #202021;
$--color-text-secondary: #606266;
$--background-color-base: #f7f8fa;