@charset "UTF-8";
/** element内置黑暗主题 */
/** 自定义黑暗主题 */
/* 改变主题色变量 */
.el-radio.is-checked .el-radio__inner {
  border-color: #acb1bf;
  background-color: #b2bf9c;
}

.el-radio.is-checked .el-radio__inner:hover {
  border-color: #b2bf9c;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #b2bf9c;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #acb1bf;
  background-color: #b2bf9c;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #b2bf9c;
}
