@charset "UTF-8";
/* 改变主题色变量 */
.el-radio.is-checked .el-radio__inner {
  border-color: #f5efe7;
  background-color: #c7b299;
}

.el-radio.is-checked .el-radio__inner:hover {
  border-color: #c7b299;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #c7b299;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #f5efe7;
  background-color: #c7b299;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #c7b299;
}
