/* 改变主题色变量 */
$--color-success: #05aa65;
$--color-warning: #ff9227;
$--color-danger: #f64346;
$--color-info: #babec5;
$--color-text-secondary: #606266;

$--color-primary: #c7b299;
$--color-text-primary: #4d4d4d;
$--background-color-base: #f5efe7;

.el-radio.is-checked .el-radio__inner {
  border-color: $--background-color-base;
  background-color: $--color-primary;
  &:hover{
    border-color: $--color-primary;
  }
}
.el-radio__input.is-checked + .el-radio__label {
  color: $--color-primary;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: $--background-color-base;
  background-color: $--color-primary;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $--color-primary;
}
